<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>Daily Entry</title>
    <link rel="stylesheet" href="/css/entryStyle.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <img src="/images/leaf.svg" />
        <h1>Calendar</h1>
        <img src="/images/leaf.svg" />
      </div>

      <div class="subheader">
        <!-- maybe make it redirect to calendar/plant... fix below before final-->
        <!-- <a href="/calendar/{{plant}}" id="prevPage"><</a> -->
        <a href="/calendar" id="prevPage"><</a>
        <h2>{{plant}} on {{date}}</h2>
      </div>

      <div id="photoHeader">
        <h3>Your photos for {{date}}</h3>
        <!-- <button type="button" id="addPhoto">+</button> -->
        <a href="/addPhoto/{{plant}}/{{date}}" id="addPhoto">+</a>
      </div>

      <div id="photos">
        <!--
        <div class="slide">
          <img src="/images/froggy.svg" />
          <p>9:30 AM</p>
        </div>
        <div class="slide">
          <img src="/images/emily.svg" />
          <p>11:30 AM</p>
        </div>
        <div class="slide">
          <img src="/images/bert.svg" />
          <p>3:30 PM</p>
        </div>
        <div class="slide">
          <img src="/images/froggy.svg" />
          <p>6:30 PM</p>
        </div>
        <div class="slide">
          <img src="/images/emily.svg" />
          <p>8:30 PM</p>
        </div>
        <div class="slide">
          <img src="/images/bert.svg" />
          <p>10:30 PM</p>
        </div>
      -->
        
        {{#each slides}}
          <div class="slide">
            <img src="/images/{{image}}" />
            <p>{{caption}}</p>
          </div>
        {{/each}}
      
      </div>

      <h3>Plant Condition</h3>
      <div class="moods">
        <input type="radio" name="buttonGroup" value="one" id="one" checked="checked"><label for="one">Bad</label>
        <input type="radio" name="buttonGroup" value="two" id="two"><label for="two">Okay</label>
        <input type="radio" name="buttonGroup" value="three" id="three"><label for="three">Good</label>
        <!--<div class="face">
          <img src="/images/bad-face.svg" />
        </div>
        <div class="face">
          <img src="/images/normal-face.svg" />
        </div>
        <div class="face">
          <img src="/images/good-face.svg" />
        </div>
      -->
      </div>

      <h3>Notes</h3>
      <div class="text">
        <p>{{text}}</p>
      </div>

      <button type="button" id="editing">Edit</button>

      <img id='bottom-rectangle' src="/images/bottom-rectangle.svg">

      <div class="footer">
        <div class="footer-item">
          <a id='home-button' href='/index'>
              <img src="/images/home-button.svg">
          </a>
        </div>

        <div class="footer-item">
          <a href="/calendar">
          <img id='calendar-button' src="/images/calendar-button.svg">
          </a>
        </div>
      </div>
  </div>

  
  <script src="/js/entryJS.js"></script>
  
  <script type="app.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </body>
</html>