<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="page-container">

    <div class= "title">
      <img id='left-leaf' src="images/small-leaf.svg">
      <p> MY PLANTS </p>
      <img id='right-leaf' src="images/small-leaf.svg">
    </div>


    <div class="back-button">
      <a id='back-button' href='/index'>
      <img src='images/back-button.svg'>
    </a>
    </div>


    <div class='edit-button'>
      <a id='edit-button'>
        <img src="images/edit-button.svg">
    </a></div>
      

    {{#each Plants}}
        <div class="a-plant">
          <!--make clickable -->
            <img src="/images/{{pic}}" />
            <h2>{{nickname}}</h2>
            <p>Species: {{species}}</p>
            <p>Age: {{age}}</p>
            <p>Watering: {{watering}}</p>
        </div>
    {{/each}}


<div class='navigation'>

  <img id='bottom-rectangle' src="images/bottom-rectangle.svg">

  <a id='home-button' href='/index'>
      <img src="images/home-button.svg">
  </a>

  <a href="/calendar">
    <img id='calendar-button' src="images/calendar-button.svg">
  </a>

</div>


  </div>



<script type="app.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>