<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/myPlantsStyle.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>
<body>


  <div class="container">

    <div class="header">
      <img id='left-leaf' src="images/small-leaf.svg">
      <p>MY PLANTS</p>
      <img id='right-leaf' src="images/small-leaf.svg">
    </div>    

    {{#each Plants}}
        <div class="a-plant" >


            <a href="/plant/{{nickname}}" class="fill-div">

              <div id="plantIMG">
                <img src="/images/{{nickname}}.svg"/>
              </div>

              <div id="plantINFO">
                <h2>{{nickname}}</h2>
                <p>Species: {{species}}</p>
                <p>Age: {{age}} *can't use autoAge?</p>
                <p>Watering: {{watering}}</p>

              </div>
            </a>
        </div>
    {{/each}}


<div class='navigation'>


  <a id='home-button' href='/index'>
      <img src="images/home-button.svg">
  </a>

  <a href="/calendar">
    <img id='calendar-button' src="images/calendar-button.svg">
  </a>

</div>


  </div>


<script scr='addingPlant.js'></script>
<script type="app.js"></script>
<script type="bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>